/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #0b1120;
  color: #ffffff;
  line-height: 1.6;
}

/* remove Vite center alignment */
#root {
  width: 100%;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
}

/* images responsive */
img {
  max-width: 100%;
  display: block;
}

/* section spacing */
section {
  padding: 60px 20px;
}

/* main container */
.app {
  max-width: 1200px;
  margin: auto;
}